.jobs-block {
  padding-bottom: 94px;
}

.jobs {
  &.list {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    position: relative;
  }
}

.label {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  &-title {
    padding: 27px 0;

    font-weight: $title-font-weight;
    font-size: $primary-font-size;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-white-color;
  }
}
