.team-section {
  background-color: $accent-background-color;
}

.members.list {
  display: flex;
  justify-content: space-between;
}

.member-item {
  width: 270px;
  padding-bottom: 30px;

  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-photo {
  margin-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: $head-text-color;
}

.member-prof {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: $paragraph-text-color;
}
